
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('User Login', ~{::extra})}"></head>

	<!-- For scripts - DELETE if unused -->
	<th:block th:fragment="extra"></th:block>

	<body>
        <header th:replace="~{fragments/header :: header}"></header>
        <div class="page-wrapper">
            <main class="card" style="width: 500px;">
                <h1 th:if="${entryPoint == 'employee'}">Employee Login</h1>
                <h1 th:if="${entryPoint == 'admin'}">Admin Login</h1>
                <p class="sub-text">Use your company email and password.</p>

                <!-- Error from Spring Security -->
                <div class="alert alert-error" 
                    th:if="${param.error != null
                        or param.expired != null
                        or param.unauthorised != null
                        or param.admin != null
                        or param.employee != null}">
                    <div th:if="${param.error != null}">Invalid email or password. Please try again.</div>
                    <div th:if="${param.expired != null}">Your session has expired. Please log in.</div>
                    <div th:if="${param.unauthorised != null}">Please login to access G3LAPS.</div>
                    <div th:if="${entryPoint == 'employee' and param.employee != null}">
                        Please login via the Admin Portal.</div>
                    <div th:if="${entryPoint == 'admin' and param.admin != null}">
                        Please login via the Employee Portal.</div>
                </div>

                <!-- Global error -->
                <div class="alert alert-error"
                    th:if="${globalError}"
                    th:text="${globalError}"></div>

                <!-- Success from Spring Security -->
                <div class="alert alert-info" 
                    th:if="${param.logout != null}">
                    You have been logged out successfully.
                </div>

                <!-- Login is posted based on emp/admin login entry point-->
                <form th:action="@{${entryPoint == 'admin' 
                    ? '/auth/admin/login' 
                    : '/auth/employee/login'}}" 
                    method="POST">
                    <!-- <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" 
                            th:field="*{email}"
                            placeholder="Enter email" 
                            th:classappend="${#fields.hasErrors('email')} ? ' is-invalid' : ''"
                            required>
                        <div class="invalid-feedback" 
                            th:if="${#fields.hasErrors('email')}" 
                            th:errors="*{email}"></div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" 
                            th:field="*{password}"
                            placeholder="Enter password" 
                            th:classappend="${#fields.hasErrors('password')} ? ' is-invalid' : ''" 
                            required>
                        <div class="invalid-feedback" 
                            th:if="${#fields.hasErrors('password')}" 
                            th:errors="*{password}"></div>
                    </div> -->

                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" 
                            name="email"
                            placeholder="Enter email" 
                            th:value="${param.email != null ? param.email : ''}"
                            required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" 
                            name="password"
                            placeholder="Enter password" 
                            required>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}">

                    <input type="hidden" name="viewName" value="auth/login">
                    
                    <button class="btn btn-primary btn-full" type="submit">Log In</button>
                </form>
                <div class="text-center mb-3">
                    <!-- Offer alt role login based on current entrypoint -->
                    <a
                    th:href="@{${entryPoint == 'admin'
                        ? '/auth/employee/login'
                        : '/auth/admin/login'}}"
                    th:text="${entryPoint == 'admin'
                        ? 'Not an Admin? Log in as Employee'
                        : 'Not an Employee? Log in as Admin'}"></a>
                </div>
                <div class="hint-box">
                    <h3>
                        Test Credentials
                    </h3>
                    <p class="mb-2">
                        -- Internal Admin: test_adminA@gmail.com / 12345abc!
                    </p>
                    <p class="mb-2">
                        -- External Admin: test_adminB@gmail.com / 12345abc!
                    </p>
                    <p class="mb-2">
                        -- Manager: test_manager@gmail.com / 12345abc!
                    </p>
                    <p class="mb-2">
                        -- EmployeeA: test_employeeA@gmail.com / 12345abc!
                    </p>
                    <p class="mb-2">
                        -- EmployeeB: test_employeeB@gmail.com / 12345abc!
                    </p>
                </div>
            </main>
        </div>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
	</body>

</html>