<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('Team Leave Applications', ~{::extra})}">
		<th:block th:fragment="extra">
            <!-- For scripts -->
            <script th:src="@{/js/main.js}" defer></script>
        </th:block>
	</head>

	<body>
		<header th:replace="~{fragments/header :: header}"></header>
		
		<div class="page-wrapper">
			    <h2>Team Leave Applications</h2>
 
			    <table border="1">
			        <thead>
			            <tr>
			                <th>Employee</th>
			                <th>Leave Type</th>
			                <th>From</th>
			                <th>To</th>
			                <th>Status</th>
			                <th>Action</th>
			            </tr>
			        </thead>

					<tbody>
					    <tr th:if="${#lists.isEmpty(leaveList)}">
					        <td colspan="6">No leave applications at the moment</td>
					    </tr>
						
					    <tr th:each="leave : ${leaveList}">
			                <td th:text="${leave.employee.firstName}"></td>
			                <td th:text="${leave.leaveType.leaveType}"></td>
							<td th:text="${#temporals.format(leave.fromDate, 'dd/MM/yyyy')}"></td>
							<td th:text="${#temporals.format(leave.toDate, 'dd/MM/yyyy')}"></td>
			                <td th:text="${leave.status}"></td>

							<td>
							    <a th:href="@{/manager/leave/{id}(id=${leave.id})}">
							        View
							    </a><br><br>

							    <form th:action="@{/manager/approve}" method="post" style="display:inline;">
							        <input type="hidden" name="id" th:value="${leave.id}" />
							        <button type="submit">Approve</button>
							    </form>

							    <form th:action="@{/manager/reject}" method="post" style="display:inline;">
							        <input type="hidden" name="id" th:value="${leave.id}" />
							        <input type="text" name="comment" placeholder="Enter rejection reason" required />
							        <button type="submit">Reject</button>
							    </form>
							</td>
			            </tr>
			        </tbody>
			    </table>

			    <br>

			    <a href="#">View Subordinate Leave History</a>
		</div>

		<footer th:replace="~{fragments/footer :: footer}"></footer>
	</body>

</html>
