<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:insert="~{fragments/head ::head('My Leave History', ~{::extra})}">
		<!-- For scripts -->
		<th:block th:fragment="extra">
			<script th:src="@{/js/main.js}" defer></script>
		</th:block>
	</head>

	<body>
		<header th:replace="~{fragments/header :: header}"></header>
		<div class="container py-4"><a th:href="@{/}" class="text-decoration-none"><i class="bi bi-arrow-left"></i> ← Back to Home</a>
		</div>
        <div class="page-wrapper">
			<h1>My Leave History</h1>
	
            <!-- th:if checks whether the list is empty -->
	
			<p th:if="${#lists.isEmpty (leaveList)} ">
				You have not applied for any leave yet.
			</p>

			<table th:unless="${#lists. isEmpty (leaveList)}" class="data-table-med" >
				<thead>
					<tr>
						<th>Leave Type</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Days</th>
						<th>Status</th>
						<th>Submitted</th>
						<th>Actions</th>
					</tr>
				</thead>
				
				
				<tbody>
					<!-- th:each loops over the "leaveApplication" list from the Model -->
					<tr th:each="leave : ${leaveList} ">
					
						<td th:text="${leave.leaveType?.leaveType}">Annual</td>
						<td th:text="${leave.fromDate != null ? #temporals.format(leave.fromDate, 'dd MMM yyyy') : 'N/A'}">01 Jan 2026</td>
						<td th:text="${leave.toDate != null ? #temporals.format(leave.toDate, 'dd MMM yyyy') : 'N/A'}">02 Jan 2026</td>
						<td th:text="${leave.duration}">0.0</td>
						<td>
						    <span class="badge rounded-pill"
						          th:text="${leave.status}"
						          th:classappend="${
						            leave.status == T(sg.edu.nus.laps.leave.model.LeaveStatus).APPROVED ? 'bg-success' :
						            leave.status == T(sg.edu.nus.laps.leave.model.LeaveStatus).REJECTED ? 'bg-danger' :
						            (leave.status == T(sg.edu.nus.laps.leave.model.LeaveStatus).CANCELLED or leave.status == T(sg.edu.nus.laps.leave.model.LeaveStatus).DELETED) ? 'bg-secondary' :
						            'bg-info'
						          }">
						    </span>
						</td>
						<td th:text="${leave.toDate != null ? #temporals.format(leave.createdAt, 'dd MMM yyyy') : 'N/A'}">02 Jan 2026</td>
						<td>
						<!--Link to detail page, passing leave id in the URL -->
							<a th:href="@{/leaves/details/{id}(id=${leave.id})}" 
							class=".btn-secondary">View details</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="mt-3">
			    <nav aria-label="Page navigation">
			        <ul class="pagination">
			            <li class="page-item" th:classappend="${page.first} ? 'disabled'">
			                <a class="page-link" th:href="@{/leaves(page=${page.number - 1})}">Previous</a>
			            </li>
			            <li class="page-item disabled">
			                <span class="page-link">Page [[${page.number + 1}]] of [[${page.totalPages}]]</span>
			            </li>
			            <li class="page-item" th:classappend="${page.last} ? 'disabled'">
			                <a class="page-link" th:href="@{/leaves(page=${page.number + 1})}">Next</a>
			            </li>
			        </ul>
			    </nav>  </div>		
			<br>	
		</div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
	</body>

</html>

