<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" th:href=@{/css/style.css}>
        <title>G3LAPS - Employee Leave Details</title>
	</head>

	<body>
		<!-- Values from dashboard accessible in header -->
		<header th:replace="~{fragment/header :: header}"></header>
		<div class="page-wrapper">
			<h1>Welcome, <span th:if="${userEmail}" th:text="${userEmail}">User</span>!</h1>
		</div>
	</body>

</html>