<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('Leave Details', ~{::extra})}"></head>

	<!-- For scripts -->
	<th:block th:fragment="extra">
        <script>
            // On click, go to previous page
            // Runs after page loads
            // Checks for btn
            document.addEventListener('DOMContentLoaded', function() {
                var btn = document.getElementById('backBtn');
                if (btn) {
                    btn.addEventListener('click', function() { history.back(); });
                }
            });
            
        </script>
    </th:block>

	<body>
		<header th:replace="~{fragments/header :: header}"></header>
		
        <div class="page-wrapper">
            <div class="card leave-details">
                <div class="card-body">
                    <div th:if="${leaveApplication}" th:object="${leaveApplication}">

                        <!-- Leave ID & Status -->
                        <div class="card-header">
                            <h2>Leave Application #<span th:text="*{id}"></span></h2>
                            <p>Applied On <span th:text="*{#temporals.format(createdAt, 'dd MMM yyyy')}"></span></p>
                            <span class="badge status-badge" th:text="*{status}"></span>
                        </div>

                        <!-- Employee Info -->
                        <section>
                            <h3>Employee Information</h3>
                                <dl th:object="${leaveApplication.employee}">
                                    <dt><b>Name</b></dt>
                                    <dd th:text="*{firstName + ' ' + lastName}"></dd>

                                    <dt><b>Email</b></dt>
                                    <dd th:text="*{user.email}"></dd>

                                    <dt><b>Team</b></dt>
                                    <dd th:text="*{teamName}"></dd>

                                    <dt><b>Job Title</b></dt>
                                    <dd th:text="*{jobTitle}"></dd>
                                </dl>
                        </section>

                        <!-- Leave App Info -->
                        <section>
                            <h3>Leave Information</h3>
                            <dl>
                                <dt><b>Type</b></dt>
                                <dd th:text="*{leaveType.leaveType}"></dd>
                                
                                <dt><b>Start Date</b></dt>
                                <dd th:text="*{fromDate}"></dd>
                                
                                <dt><b>End Date</b></dt>
                                <dd th:text="*{toDate}"></dd>
                                                            
                                <dt><b>Reason</b></dt>
                                <dd th:text="*{reason} ?: 'No Reason Provided'"></dd>

                                <dt><b>Proof</b></dt>
                                <dd th:text="*{proof} ?: 'No Proof Provided'"></dd>
                                
                                <dt><b>Contact Details</b></dt>
                                <dd th:text="*{contactDetails} ?: 'No Contact Details Provided'"></dd>

                                <dt><b>Work Dissemination</b></dt>
                                <dd th:text="*{workDissemination} ?: 'No Work Dissemination Provided'"></dd>
                            </dl>
                        </section>

                        <!-- Approval Info -->
                        <section>
                            <h3>Update Information</h3>
                            <dl>
                                <!-- Manager name to be passed in -->
                                <dt><b>Team Manager</b></dt>
                                <dd th:text="${managerName} ?: 'No Assigned Manager'"></dd>

                                <dt><b>Manager Comment</b></dt>
                                <dd th:text="*{managerComment} ?: 'No Comment Provided'"></dd>

                                <dt><b>Last Updated</b></dt>
                                <dd th:text="*{#temporals.format(updatedAt, 'dd MMM yyyy')}"></dd>
                            </dl>
                        </section>
                    </div>

                    <div th:if="${errorMessage}" th:text="${errorMessage}">
                    </div>

                    <div class="card-footer">
                        <!-- Goes back to previous page -->
                        <button class="btn" type="button" id="backBtn">Back</button>

                        <!-- Employee (self view) buttons -->
                        <div sec:authorize="hasAnyRole('ROLE_EMPLOYEE','ROLE_MANAGER')" 
                            th:if="${isSelf}">
                            <button class="btn" type="button" id="updateBtn">Update</button>
                            <button class="btn" type="button" id="cancelBtn">Cancel</button>
                            <button class="btn" type="button" id="deleteBtn">Delete</button>
                        </div>

                        <!-- Manager (view subordinate) buttons -->
                        <div sec:authorize="hasRole('ROLE_MANAGER')" 
                            th:if="${!isSelf}">
                            <button class="btn" type="button" id="approveBtn">Approve</button>
                            <button class="btn" type="button" id="rejectBtn">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
	</body>

</html>
