<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('My Leave History', ~{::extra})}">
    <!-- For scripts -->
		<th:block th:fragment="extra">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
			<script th:src="@{/js/main.js}" defer></script>
		</th:block>
  </head>

	<body>
		<header th:replace="~{fragments/header :: header}"></header>
    
    <div class="page-wrapper">
      <div class="card">
      <h2 class="page-heading">Leave Application Form</h2>
      <!-- Global error -->
      <div class="alert alert-error"
          th:if="${globalError}"
          th:text="${globalError}"></div>
        <form
          th:action="@{/leaves/apply}"
          method="post"
          enctype="multipart/form-data">
          <div class="form-group">
            <label for="leaveType">Leave Type</label>
            <select id="leaveType" name="leaveType" required>
              <option value="" disabled selected>Select Type</option>
              <option value="ANNUAL">Annual Leave</option>
              <option value="MEDICAL">Medical Leave</option>
              <option value="COMPENSATION">Compensation Leave</option>
            </select>
          </div>
          <div class="form-group">
            <label>From</label>
            <input type="date" name="fromDate" required />
          </div>
          <div class="form-group">
            <label>To</label>
            <input type="date" name="toDate" required />
            <span class="field-error" th:if="${dateError}"
              >You have an existing Leave within this date range</span>
          </div>
          <div class="form-group">
            <label>Proof</label>
            <input type="file" name="proof" />
            <p class="sub-text">Upload image to S3</p>
          </div>
          <div class="form-group">
            <label>Reason</label>
            <textarea
              id="reason"
              name="reason"
              placeholder="State your reason"
            ></textarea>
          </div>

          <input type="hidden" th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}">
          <div class="nav-links">
            <button
              type="submit"
              name="action"
              value="save"
              class="btn btn-secondary"
            >
              SAVE
            </button>
            <button
              type="submit"
              name="action"
              value="submit"
              class="btn btn-primary"
            >
              SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

		<div th:replace="~{fragments/modal :: changePasswordModal}"></div>

  </body>
</html>
