<header th:fragment="header">
    <div class="topbar">

        <!-- Logo -->
        <a th:href="@{/}" class="site-title" th:text="${appName} ?: 'G3LAPS'"></a>

        <!-- Nav links -->
        <nav class="nav-links">

            <!-- Spring Security user role auth -->

            <!-- ROLE_EMPLOYEE: Dashboard, My Leaves -->
            <th:block sec:authorize="hasRole('EMPLOYEE')">
                <a th:href="@{/me}">Dashboard</a>
                <a th:href="@{/leaves}">My Leave History</a>
            </th:block>

            <!-- ROLE_MANAGER: Dashboard, My Leaves, Team Leaves -->
            <th:block sec:authorize="hasRole('MANAGER')">
                <a th:href="@{/me}">Dashboard</a>
                <a th:href="@{/leaves}">My Leave History</a>
                <a th:href="@{/manager/leaves}">Subordinate Leave History</a>
            </th:block>

            <!-- INTERNAL ROLE_ADMIN: Dashboard, My Leaves, Employee Management -->
            <th:block sec:authorize="hasRole('ADMIN') and hasAuthority('AUTH_INTERNAL_ADMIN')">
                <a th:href="@{/me}">Dashboard</a>
                <a th:href="@{/leaves}">My Leave History</a>
                <a th:href="@{/admin/employees}">Employee Management</a>
            </th:block>

            <!-- EXTERNAL ROLE_ADMIN: Employee Management -->
            <th:block sec:authorize="hasRole('ADMIN') and hasAuthority('AUTH_EXTERNAL_ADMIN')">
                <a th:href="@{/admin/employees}">Employee Management</a>
            </th:block>

        </nav>

        <!-- Logged in user and logout button -->
        <div class="user-info" sec:authorize="isAuthenticated()">
            <span>
                <strong th:text="${employeeFullName} ?: 'Admin User'"></strong><br>
                <strong th:text="${employeeTeam} ?: 'External'"></strong><br>
                <strong th:text="${employeeTitle} ?: 'Administrator'"></strong>
            </span>
            <form th:action="@{/auth/logout}" method="POST" style="display:inline">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit" class="btn">Logout</button>
            </form>
        </div>

    </div>
</header>