<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('Employee Management', ~{::extra})}">
		<!-- For scripts -->
		<th:block th:fragment="extra">
			<script th:src="@{/js/main.js}" defer></script>
		</th:block>
	</head>

	<body>
		<header th:replace="~{fragments/header :: header}"></header>
		
        <div class="page-wrapper">
        	<div class="content-container">
            <!-- Display success or failure messages -->
			<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
			<div th:if="${failure}" class="alert alert-danger" th:text="${failure}"></div>
		
			<div >
				<p>Welcome, <span th:text="${userFirstName}">User</span>!</p>
			</div>	
			
			<h1>Update Annual Leave Entitlement</h1>
			
			<form th:action="@{/save}" th:object="${newAlEntitlement}" method="post">
				<table>
					<th>
						<td>Employee Rank</td>
						<td>Current Year Entitlement</td>
						<td>Updated Entitlement</td>
						
					</th>
					<tr>
						<td>Non-Executive</td>
						<td th:text="${currentNonExecAnnual}">Current Year Entitlement</td>
						<td><input type="text" th:field="*{entitledDays}" placeholder="14"><br> 
			                 <span class="error" th:if="${#fields.hasErrors('entitledDays')}"
			                            th:errors="*{entitledDays}"></span></td>
						
					</tr>
					<tr>
						<td>Professional</td>
						<td th:text="${currentProAnnual}">Current Year Entitlement</td>
						<td><input type="text" th:field="*{entitledDays}" placeholder="14"><br> 
			                 <span class="error" th:if="${#fields.hasErrors('entitledDays')}"
			                            th:errors="*{entitledDays}"></span></td>
						
					</tr>
				
				</table>
			
				<form th:action="@{/update-entitlement}" method="post">
   					<button type="submit" class="btn btn-danger">Update Entitlement</button>
				</form> 
			</form>
			</div>
			
		</div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
	</body>

</html>