<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create Employee</title>
<style>
	label {
		display: inline-block;
		width: 150px; /* Specify your desired width here */
		margin-right: 10px;
		margin-bottom: 10px;
	}
	input {
		width: 200px;
	}
</style>
</head>

<body>
	<h1>Create New Employee</h1>
	<form th:action="@{/admin/employees/create}" th:object="${employee}" method="post">
		<div>
			<label for="firstName">First name:</label>
			<input type="text" th:field="*{firstName}" placeholder="First name"><br> 
			<span class="error" th:if="${#fields.hasErrors('first_name')}"
				th:errors="*{first_name}"></span>
		</div>
		
		<div>	
			<label for="lastName">Last name:</label>
			<input type="text" th:field="*{lastName}" placeholder="Last name"><br>
			<span class="error" th:if="${#fields.hasErrors('lastName')}"
				th:errors="*{lastName}"></span>
		</div>
		
		<div>                 
		    <label for="email">Employee's email:</label>
			<input type="email" th:field="*{email}" autofocus placeholder="name@company.com"><br> 
			<span class="error" th:if="${#fields.hasErrors('email')}"
				th:errors="*{email}"></span>
		</div>
		
		<div>	
			<label for="contactNum">Contact number:</label> 
			<input type="text" th:field="*{contactNumber}"><br>
			<span class="error" th:if="${#fields.hasErrors('contactNumber')}"
				th:errors="*{contactNumber}"></span>
		</div>
		
		<div>	
			<label for="rank">Employee's rank:</label>
			<select th:field="*{rank}">
				<option value="NON_EXECUTIVE">Non-Executive</option>
				<option value="PROFESSIONAL">Professional</option>
			</select><br>
			<span class="error" th:if="${#fields.hasErrors('rank')}"
				th:errors="*{rank}"></span>
		</div>	
			
		<div>	
			<label for="managerId">Manager's ID:</label>
			<input type="text" th:field="*{managerId}""><br>
			<span class="error" th:if="${#fields.hasErrors('managerId')}"
				th:errors="*{managerId}"></span>
		</div>
		
		<button type="submit">Create Employee</button>
	</form>

</body>
</html>