<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>View Employee Details</title>
</head>

<body>
    
    <div th:if="${employee}">
        <h1 th:text="${employee.firstName} + ' ' + ${employee.lastName} + '\'s Details'">Employee's Details</h1>
        <dl>
            <dt><b>Employee ID</b></dt>
            <dd th:text="${employee.id}">Employee ID</dd><br>
            
            <dt><b>First Name</b></dt>
            <dd th:text="${employee.firstName}">First Name</dd><br>
            
            <dt><b>Last Name</b></dt>
            <dd th:text="${employee.lastName}">Last Name</dd><br>
            
            <dt><b>Email</b></dt>
            <dd th:text="${employee.email}">Employee's email</dd><br>
            
            <dt><b>Contact Number</b></dt>
            <dd th:text="${employee.contactNumber}">Contact Number</dd><br>
            
            <dt><b>Employee's Rank</b></dt>
            <dd th:text="${employee.rank}">Employee's Rank</dd><br>
            
            <dt><b>Manager's ID</b></dt>
            <dd th:text="${employee.managerId}">Manager's ID</dd><br>
        </dl>
    </div>

	<div th:unless="${employee}">
		Employee does not exist.
	</div>

</body>
</html>