<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('Employee Form', ~{::extra})}">
        <th:block th:fragment="extra">
		<!-- <style>
			label {
				display: inline-block;
				width: 250px; /* Specify your desired width here */
				margin-right: 10px;
				margin-bottom: 10px;
			}
			input {
				width: 200px;
			}
		</style> -->
        <!-- For scripts -->
		<script th:src="@{/js/main.js}" defer></script>
	</th:block>
	<!-- moved employee-form.js link to bottom of <body>, just before </body> -->
    </head>

	<body>
        <header th:replace="~{fragments/header :: header}"></header>
        
        <div class="page-wrapper d-flex ">
        <div class="container mt-4 justify-content-center">
            
            <h1 th:text="${employee.id} != null ? 'Update Employee Details' : 'Create New Employee'"></h1>

            <!-- Global error -->
            <div class="alert alert-error"
                th:if="${globalError}"
                th:text="${globalError}"></div>

            <!-- Success -->
            <div class="alert alert-success"
                th:if="${successMsg}"
                th:text="${successMsg}"></div>

            <div th:if="${employee}">
            
                
                <form th:action="${employee.id} != null 
                    ? @{/admin/employees/update/{id}(id=${employee.id})} 
                    : @{/admin/employees/create}" 
                    th:object="${employee}" method="post" class="">

                    <!-- Hidden ID for update -->
                    <div th:if="*{id != null}">
                        <input type="hidden" th:field="*{id}">
                    </div>

                    <div>
                        <label for="firstName">First Name:</label>
                        <input type="text" th:field="*{firstName}" placeholder="First name"><br> 
                        <span class="error" th:if="${#fields.hasErrors('firstName')}"
                            th:errors="*{firstName}"></span>
                    </div>
                    
                    <div>    
                        <label for="lastName">Last Name:</label>
                        <input type="text" th:field="*{lastName}" placeholder="Last name"><br>
                        <span class="error" th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}"></span>
                    </div>
                    
                    <div>    
                        <label for="contactNumber">Contact number:</label> 
                        <input type="text" th:field="*{contactNumber}"><br>
                        <span class="error" th:if="${#fields.hasErrors('contactNumber')}"
                            th:errors="*{contactNumber}"></span>
                    </div>

                    <div>
                        <label for="roleName">Employee's User Role:</label>
                        <select th:field="*{roleName}">
                            <option value="" disabled>-- Select User Role --</option>
                            <option th:each="role : ${roleList}"
                                    th:value="${role.name}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                        <span class="error" th:if="${#fields.hasErrors('roleName')}"
                            th:errors="*{roleName}"></span>
                    </div>
                    
                    <div>    
                        <label for="rank">Employee's Rank:</label>
                        <select th:field="*{rank}">
                            <option value="" th:selected="${employee.rank == null}">
                                -- Select Employee's Rank --
                            </option>
                            <option th:each="r : ${rankList}"
                                    th:value="${r}"
                                    th:text="${r.displayName}">
                            </option>
                        </select><br>
                        <span class="error" th:if="${#fields.hasErrors('rank')}"
                            th:errors="*{rank}"></span>
                    </div>    
                        
                    <div>    
                        <label for="managerId">Manager's ID:</label>
                        <input type="text" th:field="*{managerId}"><br>
                        <span class="error" th:if="${#fields.hasErrors('managerId')}"
                            th:errors="*{managerId}"></span>
                    </div>
                    
                    <div>    
                        <label for="teamName">Team Name:</label>
                        <input type="text" th:field="*{teamName}"><br>
                        <span class="error" th:if="${#fields.hasErrors('teamName')}"
                            th:errors="*{teamName}"></span>
                    </div>
                    
                    <div>    
                        <label for="jobTitle">Job Title:</label>
                        <input type="text" th:field="*{jobTitle}"><br>
                        <span class="error" th:if="${#fields.hasErrors('jobTitle')}"
                            th:errors="*{jobTitle}"></span>
                    </div>
                    
                    <div class="mb-4">    
                        <label for="annualLeave">Annual Leave Entitlement:</label>
                        <input type="text" th:field="*{annualLeave}"><br>
                        <span class="error" th:if="${#fields.hasErrors('annualLeave')}"
                            th:errors="*{annualLeave}"></span>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}">

                    <input type="hidden" name="viewName" value="employee/employee-form">
                    
                    
					    <div class="d-flex justify-content-between align-items-start mb-4">
					        
					        <div>
					            <button class="btn btn-secondary" type="button" onclick="history.back()">Back</button>
					        </div>
					        <div>
								 <!-- Dynamic Button -->
								<button class="btn btn-primary" type="submit"
                            		th:text="${employee.id} != null ? 'Update Employee' : 'Create Employee'">
                    			</button>
						
							</div>
					    </div>	
					    </form>		
					</div>
                    

                   
                    
                
            </div>

            <!-- <div th:unless="${employee}">
                Employee does not exist.
            </div> -->
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>

		<div th:replace="~{fragments/modal :: changePasswordModal}"></div>
		
		<script th:src="@{/js/employee-form.js}" defer></script>
    </body>

</html>