<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('Employee Management', ~{::extra})}">
		<!-- For scripts -->
		<th:block th:fragment="extra">
			<script th:src="@{/js/main.js}" defer></script>
		</th:block>
	</head>

	<body>
		<header th:replace="~{fragments/header :: header}"></header>
		
        <div class="page-wrapper">
        	<div class="content-container">
            <!-- Display success or failure messages -->
			<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
			<div th:if="${failure}" class="alert alert-danger" th:text="${failure}"></div>
			<div>
				<a href="/admin/employees/create">
					<button type="button">Add New Employee</button>
				</a>
			</div>
			
			<div>
				<form th:action="@{/admin/employees/updateHolidays}" method="get">
   					<button type="submit" class="btn btn-danger">Update Holidays</button>
				</form>
			</div>	
			
			<div >
				<p>Welcome, <span th:text="${userFirstName}">User</span>!</p>
			</div>
					
			<h1>Employee Management</h1>
				
			
			<!-- <div>
				<div id="empCount">
					<h3>Employee Count</h3>
					<p th:text="${empCount}">Employee Count</p>
				</div>
				<div id="mgrCount">
					<h3>Manager Count</h3>
					<p th:text="${mgrCount}">Manager Count</p>
				</div>
				<div id="adminCount">
					<h3>Admin Count</h3>
					<p th:text="${adminCount}">Admin Count</p>
				</div>
			</div> -->
			
			<div class="cards-container">
		        <div class="count-card" id="empCount">
		            <h3>Employee Count</h3>
					<p th:text="${empCount}">Employee Count</p>
		        </div>
		        <div class="count-card" id="mgrCount">
		            <h3>Manager Count</h3>
					<p th:text="${mgrCount}">Manager Count</p>
		        </div>
		        <div class="count-card" id="adminCount">
		            <h3>Admin<br>Count</h3>
					<p th:text="${adminCount}">Admin Count</p>
		        </div>
		    </div>
		    
			<!-- Employees table -->
			<!-- All employees table only displays when user role is ADMIN -->
			<div>	
				<p><h2>All Employees</h2></p>
				<!-- Global error -->
				<div class="alert alert-error"
					th:if="${globalError}"
					th:text="${globalError}"></div>
				<table th:unless="${allEmployees.isEmpty()}">
					<thead>
						<tr>
							<th>ID</th><th>First Name</th><th>Last Name</th>
							<th>Email</th><th>Contact Number</th>
							<th>Manager's ID</th><th>Team Name</th><th>Job Title</th>
							<th>Rank</th>
							<th>User Role</th>
							<th>Created At</th><th>Updated At</th>
							<th>Actions</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="e : ${allEmployees}">
							<td th:text="${e.id}">Employee Id</td>
							<td th:text="${e.firstName}">First Name</td>
							<td th:text="${e.lastName}">Last Name</td>
							<td th:text="${e.user.email}">Email</td>
							<td th:text="${e.contactNumber}">Contact Number</td>
							<td th:text="${e.managerId}">Manager's ID</td>
							<td th:text="${e.teamName}">Team Name</td>
							<td th:text="${e.jobTitle}">Job Title</td>
							<td th:text="#{'Rank.' + ${e.rank.name()}}">Rank</td>
							<td th:text="${e.user.role.name}">User Role</td>
							<td th:text="${#temporals.format(e.createdAt,'dd MMM yyyy HH:mm')}">Created At</td>
							<td th:text="${#temporals.format(e.updatedAt,'dd MMM yyyy HH:mm')}">Updated At</td>
							<td>
							<!-- <a th:href="@{/admin/employees/update/{id}(id=${e.id})}">Update Details</a> -->
							<form th:action="@{/admin/employees/update/{id}(id=${e.id})}" method="get">
								<input type="hidden" name="viewName" value="employee/employee-mgmt">
   								<button type="submit" class="btn btn-danger">Update Details</button>
							</form>
							
							<form th:action="@{/admin/employees/delete/{id}(id=${e.id})}" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}">
								<input type="hidden" name="viewName" value="employee/employee-mgmt">
   								<button type="submit" class="btn btn-danger">Delete Employee</button>
							</form>
							</td>
							
						</tr>
					</tbody>
				</table>
				<div class="mt-3">
				    <nav aria-label="Page navigation">
				        <ul class="pagination">
				            <li class="page-item" th:classappend="${page.first} ? 'disabled'">
				                <a class="page-link" th:href="@{/admin/employees(page=${page.number - 1})}">Previous</a>
				            </li>
				            <li class="page-item disabled">
				                <span class="page-link">Page [[${page.number + 1}]] of [[${page.totalPages}]]</span>
				            </li>
				            <li class="page-item" th:classappend="${page.last} ? 'disabled'">
				                <a class="page-link" th:href="@{/admin/employees(page=${page.number + 1})}">Next</a>
				            </li>
				        </ul>
				    </nav></div>
			</div>
			</div>
		</div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>

		<div th:replace="~{fragments/modal :: changePasswordModal}"></div>

	</body>

</html>