<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('Employee Form', ~{::extra})}">
        <th:block th:fragment="extra">
		<style>
			label {
				display: inline-block;
				width: 150px; /* Specify your desired width here */
				margin-right: 10px;
				margin-bottom: 10px;
			}
			input {
				width: 200px;
			}
		</style>
        <!-- For scripts -->
		<script th:src="@{/js/main.js}" defer></script>
	</th:block>
	<script th:src="@{/js/employee-form.js}" defer></script>
    </head>

	<body>
        <header th:replace="~{fragments/header :: header}"></header>
        
        <div class="page-wrapper">
            
            <h1 th:text="${employee.id} != null ? 'Update Employee Details' : 'Create New Employee'"></h1>

            <!-- Global error -->
            <div class="alert alert-error"
                th:if="${globalError}"
                th:text="${globalError}"></div>

            <div th:if="${employee}">
                
                <form th:action="${employee.id} != null 
                                    ? @{/admin/employees/update/{id}(id=${employee.id})} 
                                    : @{/admin/employees/create}" 
                    th:object="${employee}" method="post">

                    <div th:if="${#fields.hasGlobalErrors()}" 
                        class="alert alert-danger"
                        th:errors="*{error}">
                    </div>

                    <!-- Hidden ID for update -->
                    <div th:if="${employee.id != null}">
                        <input type="hidden" th:field="*{id}">
                    </div>

                    <div>
                        <label>First Name:</label>
                        <input type="text" th:field="*{firstName}" placeholder="First name"><br> 
                        <span class="error" th:if="${#fields.hasErrors('firstName')}"
                            th:errors="*{firstName}"></span>
                    </div>
                    
                    <div>    
                        <label>Last Name:</label>
                        <input type="text" th:field="*{lastName}" placeholder="Last name"><br>
                        <span class="error" th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}"></span>
                    </div>
                    
                    <div>    
                        <label>Contact number:</label> 
                        <input type="text" th:field="*{contactNumber}"><br>
                        <span class="error" th:if="${#fields.hasErrors('contactNumber')}"
                            th:errors="*{contactNumber}"></span>
                    </div>

                    <div>
                        <label>Employee's User Role:</label>
                        <select th:field="*{roleName}">
                            <option value="" disabled>-- Select User Role --</option>
                            <option th:each="role : ${roleList}"
                                    th:value="${role.name}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                        <span class="error" th:if="${#fields.hasErrors('roleName')}"
                            th:errors="*{roleName}"></span>
                    </div>
                    
                    <div>    
                        <label>Employee's Rank:</label>
                        <select id="rank" th:field="*{rank}">
                            <option value="" th:selected="${employee.rank == null}">
                                -- Select Employee's Rank --
                            </option>
                            <option th:each="r : ${rankList}"
                                    th:value="${r}"
                                    th:text="${r.displayName}">
                            </option>
                        </select><br>
                        <span class="error" th:if="${#fields.hasErrors('rank')}"
                            th:errors="*{rank}"></span>
                    </div>    
                        
                    <div>    
                        <label>Manager's ID:</label>
                        <input type="text" th:field="*{managerId}"><br>
                        <span class="error" th:if="${#fields.hasErrors('managerId')}"
                            th:errors="*{managerId}"></span>
                    </div>
                    
                    <div>    
                        <label>Team Name:</label>
                        <input type="text" th:field="*{teamName}"><br>
                        <span class="error" th:if="${#fields.hasErrors('teamName')}"
                            th:errors="*{teamName}"></span>
                    </div>
                    
                    <div>    
                        <label>Job Title:</label>
                        <input type="text" th:field="*{jobTitle}"><br>
                        <span class="error" th:if="${#fields.hasErrors('jobTitle')}"
                            th:errors="*{jobTitle}"></span>
                    </div>
                    
                    <div>    
                        <label>Annual Leave Entitlement:</label>
                        <input id="leave" type="number" th:field="*{annualLeave}"><br>
                        <span class="error" th:if="${#fields.hasErrors('annualLeave')}"
                            th:errors="*{annualLeave}"></span>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}">

                    <input type="hidden" name="viewName" value="employee/employee-form">
                    
                    <button type="button" onclick="history.back()">Back</button>

                    <!-- Dynamic Button -->
                    <button type="submit"
                            th:text="${employee.id} != null ? 'Update Employee' : 'Create Employee'">
                    </button>
                </form>
            </div>

            <div th:unless="${employee}">
                Employee does not exist.
            </div>
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>

		<div th:replace="~{fragments/modal :: changePasswordModal}"></div>
		
		
    </body>

</html>