<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

	<head th:replace="~{fragments/head ::head('Update Employee Details', ~{::extra})}"></head>

	<!-- For scripts -->
	<th:block th:fragment="extra">
		<style>
			label {
				display: inline-block;
				width: 150px; /* Specify your desired width here */
				margin-right: 10px;
				margin-bottom: 10px;
			}
			input {
				width: 200px;
			}
		</style>
	</th:block>

	<body>
		<header th:replace="~{fragments/header :: header}"></header>
		
        <div class="page-wrapper">
            <h1>Update Employee Details</h1>
			<div th:if="${employee}">
				<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger"
					th:errors="*{error}">
				</div>
				<form th:action="@{/admin/employees/update/{id}(id=${employee.id})}" 
					th:object="${employee}" method="post">
					
					<!-- Hidden input field to return employee id in form submission -->
					<div><input type="hidden" th:field="*{id}"></div>
					<div>
						<label for="firstName">First Name:</label>
						<input type="text" th:field="*{firstName}" placeholder="First name"><br> 
						<span class="error" th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{first_name}"></span>
					</div>
					
					<div>	
						<label for="lastName">Last Name:</label>
						<input type="text" th:field="*{lastName}" placeholder="Last name"><br>
						<span class="error" th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastName}"></span>
					</div>
					
					<div>	
						<label for="contactNumber">Contact number:</label> 
						<input type="text" th:field="*{contactNumber}"><br>
						<span class="error" th:if="${#fields.hasErrors('contactNumber')}"
							th:errors="*{contactNumber}"></span>
					</div>

					<div>
						<label for="roleName">Employee's User Role:</label>
						<select th:field="*{roleName}">
							<option value="" disabled>-- Select User Role --</option>
							<option th:each="role : ${roleList}"
									th:value="${role.name}"
									th:text="${role.name}">
							</option>
						</select>
						<span class="error" th:if="${#fields.hasErrors('roleName')}"
							th:errors="*{roleName}"></span>
					</div>
					
					<div>	
						<label for="rank">Employee's Rank:</label>
						<select th:field="*{rank}">
							<option value="" th:selected="${employee.rank == null}">-- Select Employee's Rank --</option>
							<option th:each="r : ${rankList}"
									th:value="${r}"
									th:text="${r}"
									th:selected="${employee.rank == r}">
							</option>
						</select><br>
						<span class="error" th:if="${#fields.hasErrors('rank')}"
							th:errors="*{rank}"></span>
					</div>	
						
					<div>	
						<label for="managerId">Manager's ID:</label>
						<input type="text" th:field="*{managerId}"><br>
						<span class="error" th:if="${#fields.hasErrors('managerId')}"
							th:errors="*{managerId}"></span>
					</div>
					
					<button type="submit">Update Employee</button>
				</form>
			</div>

			<div th:unless="${employee}">
				Employee does not exist.
			</div>
		</div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
	</body>

</html>